//
$_colors: (primary, secondary, info, success, danger, light);

@each $color in $_colors {
  .pure-button-#{$color} {
    background-color: v($color);
    color: #fff;
  }
}

@each $color in $_colors {
  .pure-button-outline-#{$color} {
    border: 1px solid v($color);
    background: transparent;
    color: v($color);
    &:focus,
    &:active,
    &:hover {
      background: v($color);
      @if $color == primary {
        color: #fff;
      } @else if $color == secondary {
        color: #fff;
      }@else if $color == light {
        color: #000;
      } @else {
        color: v($color);
      }
    }
  }
}