.card1 {
  background: rgba(255,255,255,0.5);
  p {
    color: v(theme-primary);
  }
  button {
    font-weight: 400;
    background: transparent;
    color: #000;
    border: 1px solid #000;
    font-size: 1.2rem;
    &:hover {
      background: #555;
      border: 1px solid #000;
      color: #fff;
    }
  }
}

.card2 {
  background: rgba(54,113,16,0.5);
  color: #fff;
  button {
    font-weight: 400;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.2rem;
    &:hover {
      background: #fff;
      border: 1px solid #fff;
      color: #555;
    }
  }
}

@media (min-width: 992px) {
  .card1 {
    background: rgba(255,255,255,1);
  }
  
  .card2 {
    background: rgba(54,113,16,1);
  }
}