img {
  max-width: 100%;
}

.product {
  margin-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  &__photo {
    width: 100%;
    background: #fff;
    height: 100%;
    position: relative;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__image {
    filter: drop-shadow(1px 1px 3px #a6a6a6);
    transform: translateY(-2rem);
  }
  &__info {
    position: relative;
    width: 100%;
    .title, .subtext, .price, .active {
      display: block;
      width: 100%;
    }
    .title {
      text-align: center;
      color: v(secondary);
      font-size: 1.5rem;
      line-height: 1.5;
      font-weight: 900;
      margin-bottom: 0.5rem;
    }
    .subtext {
      font-size: 1rem;
      color: v(info);
      font-weight: 500;
    }
    .active {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
    }
    hr {
      width: 100%;
      border-top: 1px solid v(light);
      margin: 1rem 0;
    }
  }
  &__content {
    border-radius: 30px 30px 15px 15px;
    padding: 1rem 1.5rem;
    width: 100%;
    transform: translateY(-2rem);
    // box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
    background: #FFF;
    z-index: 5;
  }
  &__price {
    .origin {
      display: inline-block;
      font-size: 1rem;
      text-decoration: line-through;
      margin-right: 0.5rem;
      color: v(secondary);
    }
    .discount {
      display: inline-block;
      padding-left: 0.15rem;
      font-size: 1.5rem;
      line-height: 1.5;
      font-weight: 900;
      color: v(primary);
    }
  }
}
.description {
  & &__title {
    font-size: 1.4rem;
    display: block;
    line-height: 1.5;
  }
  & &__content {
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-indent: 2.2rem;
    word-break: break-all;
    line-height: 1.5;
  }
  .showNore {
    font-weight: 500;
    color: v(info);
  }
}

.information {
  padding: 1rem;
  background: #fff;
  position: relative;
  border-radius: 5px;
  // box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
  .item {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0.5rem;
    color: #6b6b6b;
  }
  .item__title,
  .item__content {
    display: inline-block;
  }
  .item__title {
    color: #000;
    margin-left: 0.5rem;
  }
  .item__content {
    margin-left: 0.75rem;
  }
}

@media (min-width: 768px) {
  .product {
    &__info {
      .title {
        font-size: 1.75rem;
      }
      .subtext {
        font-size: 1.25rem;
      }
    }
    &__price {
      .origin {
        font-size: 1.15rem;
      }
      .discount {
        font-size: 1.75rem;
      }
    }
  }
  .description {
    .description__title {
      font-size: 1.5rem;
    }
  }
  .pure-button {
    margin-right: 1rem;
    transform: scale(1.05);
  }
  .information {
    .item {
      font-size: 1.1rem;
      width: 50%;
    }
  }
}

@media (min-width: 992px) {
  .container {
    display: flex;
    flex-flow: column nowrap;
  }
  .product {
    height: 100%;
    flex-flow: row nowrap;
    background: #fff;
    padding: 2.5rem 0;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
    &__photo {
      transform: translateX(-20px);
      border-radius: 1rem;
      background-color: transparent;
    }
    &__info {
      min-height: 100% !important;
      .title {
        font-size: 2rem;
        text-align: left;
        margin-bottom: 1rem;
      }
      .subtext {
        font-size: 1.5rem;
      }
      .active {
        margin-top: .8rem;
        order: 3;
      }
    }
    &__content {
      display: flex;
      flex-flow: column nowrap;
      position: initial;
      box-shadow: initial;
      background: transparent;
      transform: initial;
      height: 100%;
      justify-content: space-between;
      padding: 0 1.5rem;
    }
    &__price {
      .origin {
        font-size: 1.5rem;
      }
      .discount {
        font-size: 2rem;
      }
    }
  }
  .description {
    order: 2;
    margin-bottom: auto;
    .description__title {
      font-size: 1.8rem;
    }
  }
  .information {
    margin-bottom: 0.8rem;
    .item {
      font-size: 1.3rem;
      width: 50%;
    }
  }
}