img {
  max-width: 100%;
}

.h4 {
  font-size: 1.5rem;
}

.product {
  margin-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  &__photo {
    width: 100%;
    min-height: 40vh;
    background: #fff;
    height: 100%;
    position: relative;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    > img {
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
    }
    .photo__main {
      position: absolute;
      width: 90%;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      > img {
        filter: drop-shadow(1px 1px 3px #a6a6a6);
      }
    }
  }
  &__info {
    position: relative;
    width: 100%;
    .title, .subtext, .price, .active {
      display: block;
      width: 100%;
      margin-bottom: 0.5rem;
    }
    .title {
      text-align: center;
      margin-bottom: 0.5rem;
      color: v(secondary);
      font-size: 1.7rem;
      font-weight: 900;
    }
    .subtext {
      font-size: 1rem;
      color: v(info);
      font-weight: 500;
    }
    .active {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
    }
    hr {
      width: 100%;
      border-top: 1px solid v(light);
      margin: 1rem 0;
    }
  }
  &__content {
    border-radius: 30px 30px 15px 15px;
    padding: 1rem 1.5rem;
    width: 100%;
    transform: translateY(-2rem);
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
    background: #FFF;
    z-index: 5;
  }
  &__price {
    color: v(primary);
    .origin {
      display: inline-block;
      font-size: 1.3rem;
      text-decoration: line-through;
      margin-right: 0.5rem;
    }
    .discount {
      display: inline-block;
      padding-left: 0.15rem;
      font-size: 2rem;
    }
  }
}
.description {
  .description__title {
    font-size: 1.4rem;
    display: block;
    line-height: 1.5;
  }
  .description__content {
    font-size: 1rem;
    letter-spacing: 1px;
    text-indent: 2rem;
    word-break: break-all;
    line-height: 1.5;
  }
}

.information {
  padding: 1rem;
  background: #fff;
  position: relative;
  border-radius: 5px;
  box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
  .item {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0.5rem;
    color: #6b6b6b;
  }
  .item__title,
  .item__content {
    display: inline-block;
  }
  .item__title {
    color: #000;
    margin-left: 0.5rem;
  }
  .item__content {
    margin-left: 0.75rem;
  }
}

@media (min-width: 768px) {
  .product {
    &__photo {
      min-height: 70vh;
    }
    &__info {
      .title {
        font-size: 2rem;
      }
      .subtext {
        font-size: 1.3rem;
      }
    }
    &__price {
      .origin {
        font-size: 1.5rem;
      }
      .discount {
        font-size: 2.3rem;
      }
    }
  }
  .description {
    .description__title {
      font-size: 1.5rem;
    }
    .description__content {
      font-size: 1.1rem;
      text-indent: 2.2rem;
    }
  }
  .pure-button {
    margin-right: 1rem;
    transform: scale(1.2);
  }
  .information {
    .item {
      font-size: 1.1rem;
      width: 50%;
    }
  }
}

@media (min-width: 992px) {
  .container {
    display: flex;
    flex-flow: column nowrap;
  }
  .product {
    height: 100%;
    flex-flow: row nowrap;
    background: #fff;
    padding: 2.5rem 0;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
    &__photo {
      height: auto;
      display: flex;
      align-items: center;
      min-height: initial;
      > img {
        transform: translateX(-2.5rem);
        border-radius: 6px;
      }
      .photo__main {
        width: 90%;
        transform: translate(calc(-50% - 2.5rem), -50%);
      }
    }
    &__info {
      min-height: 100% !important;
      .title {
        font-size: 2.3rem;
        text-align: left;
        margin-bottom: 1rem;
      }
      .subtext {
        font-size: 1.5rem;
      }
      .active {
        margin-top: auto;
        order: 3;
        .btn {
          margin-right: 2rem;
          padding: 0.5rem 0.75rem;
          font-size: 1.3rem;
        }
      }
    }
    &__content {
      display: flex;
      flex-flow: column nowrap;
      position: initial;
      box-shadow: initial;
      background: transparent;
      transform: initial;
      height: 100%;
      justify-content: space-between;
    }
    &__price {
      .origin {
        font-size: 1.8rem;
      }
      .discount {
        font-size: 2.5rem;
      }
    }
  }
  .description {
    margin-top: auto;
    order: 2;
    .description__title {
      font-size: 1.8rem;
    }
    .description__content {
      font-size: 1.3rem;
      text-indent: 2.6rem;
      margin-bottom: 0.8rem;
    }
  }
  .information {
    margin-bottom: 0.8rem;
    .item {
      font-size: 1.3rem;
      width: 50%;
    }
  }
}