$position-default: null !default;

/*
 * Use:
 * `@include position(absolute, 0, 0, 0, 0)`
*/

@mixin position(
  $type,
  $top: $position-default,
  $right: $position-default,
  $bottom: $position-default,
  $left: $position-default
) {
  $allowed_types: absolute relative fixed;
  @if not index(
    $allowed_types, $type
  ) {
    @warn "Unknown position: #{$type}.";
  } @else {
    position: $type;
    @each $data in top $top, right $right, bottom $bottom, left $left {
		  #{nth($data, 1)}: nth($data, 2);
	  }
  }
}

/*
 * Use:
 * ``
*/

@mixin p-el(
  $el,
  $content: null
) {
  @if $el == "before" or $el == "after" {
    &::#{$el} {
      content: "#{$content}";
      @content;
    }
  }
  else {
    @warn "`#{$el}` is not a valid pseudo-element.";
  }
}